
body { 
	background-color: #10ADED;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	color: white;
	
  background-image:
    linear-gradient(
      to right, 
      #10ADED, #008DC6
    );
}

a {
	color: white;
}

.container { 
	width: 950px; 
	max-width: 100%; 
	margin: 0 auto; 
}

.logo {
	font-size: 180px;
	text-align: center;
	text-transform: uppercase;
	margin: -8px 0 0 0;
	padding: 0;
	border-bottom: 8px solid white;
	line-height: .7;
}
.logo a {
	text-decoration: none;
}
.logo span {
	font-size: 160px;
	position: relative;
	top: -10px;
}

.content-img { max-width: 100%; }

.upload-area {
	text-align: center;
	border: 4px dotted rgba(255, 255, 255, .5);
	padding: 50px 0;
	margin-top: 50px;
	margin-bottom: 50px;
}
.upload-area:hover {
	border-color: rgba(255, 255, 255, .7);
}

footer {
	margin-top: 20px;
	text-align: center;
	font-size: 10px;
	text-transform: uppercase;
	font-weight: bold;
}