{{define "index"}}
	{{template "header"}}

		<form action="/i" method="POST" enctype="multipart/form-data" class="upload-area dropzone" id="my-dropzone">

			<div class="fallback">
				<input type="text" name="token" value="{{.Value}}" />
				<input type="file" name="image" />
				<br />
				<input type="submit" value="Upload" />
			</div>

			<div class="dz-default dz-message">
				<span>Drop images here to upload</span>
				<br />
				<small>(or click to choose)</small>
			</div> 

		</form>

	{{template "footer"}}
{{end}}